<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LASTFM_KEY</key>
	<string>$(LASTFM_KEY)</string>
	<key>LASTFM_SECRET</key>
	<string>$(LASTFM_SECRET)</string>
	<key>SPOTIFY_SECRET</key>
	<string>$(SPOTIFY_SECRET)</string>
	<key>SPOTIFY_ID</key>
	<string>$(SPOTIFY_ID)</string>
</dict>
</plist>
